html {
    box-sizing: border-box;
    
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /*height: 100%;*/
}


body{
    display: grid;
    grid-template-rows: 1fr auto 2fr;
    min-height: 100vh;
    grid-template-areas:
    "header"
    "container-corpo"
    "footer";
    /*background-color: #FDBE33;*/
}


/*------------------ HEADER --------------------------*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E9AD03;
    height: 50px;
    grid-area: header;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "honeyfont";
    color: #ffffff;
    margin-left: 10px;
    width: 152px;
    height: 38px;
    
}

.nossaEquipe{
    color: #ffffff;
    text-decoration: none;
    font-family: "Inter";
    font-size: 12px;
    align-items: center;
    width: 100px;
    height: 15px;
}

.menu-btn{
    display: none;
}