html {
    box-sizing: border-box;
    
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /*height: 100%;*/
}


body{
    display: grid;
    background-color: #878787;
    grid-template-rows: 1fr auto 2fr;
    min-height: 100vh;
    grid-template-areas:
    "header"
    "container-corpo"
    "footer";
    /*background-color: #FDBE33;*/
}


/*------------------ HEADER --------------------------*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #440F01;
    height: 50px;
    grid-area: header;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "honeyfont";
    color: #ffffff;
    margin-left: 10px;
    width: 152px;
    height: 38px;
    
}

.Conversor{
    color: #ffffff;
    text-decoration: none;
    font-family: "Inter";
    font-size: 12px;
    align-items: center;
    width: 100px;
    height: 15px;
}
/*------------- Nossa Equipe ----------*/

.titulo{
    font-family: 'Poppins';
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

.nossaEquipe{
    font-family: 'Poppins';
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.corpo{
    height: 1024px;
}


.equipe-texto{
    font-size: 40px;
    font-family: "Poppins";
    font-weight: bold;
}

.equipe{
    display: flex;
    flex-direction: row;
    width: 996px;
    height: 317px;
    justify-content: space-between;

}
.estudante{
    display: flex;
    width: 219px;
    height: 317px;
    border: 5px solid #0E1111;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
}

.info-estudante{
    width: 214px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.foto{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.nome{
    font-size: 15px;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.curso-extensao{
    font-size: 12px;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


.redes-sociais{
    width: 84px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.link{
    margin: 0px;
}

/*------------ Responsividade Body-----------*/

@media (max-width: 1000px) {
    .corpo{
        height: auto;
    }
    .logoTitulo{
        font-size: larger;
    }
    .titulo{
        font-size: 36px;
        margin-top: 60px;
    }

    .nossaEquipe{
        margin-top: 60px;
        flex-wrap: wrap;
    }

    .estudante{
        margin-bottom: 4%;

    }    
}

@media (max-width: 500px) {
    .corpo{
        height: auto;
    }

    .titulo{
        font-size: 32px;
        margin-top: 30px;
    }

    .nossaEquipe{
        margin-top: 30px;
        flex-direction: column;
    }

    .estudante{
        margin-bottom: 4%;

    }    
}

/*------------- Footer ----------------*/
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #440F01;
   
    grid-area: footer;
}

.oferecimento{
    display: flex;
    flex-direction: row;
    width: 313px;
    height: 30px;
    justify-content: space-between;
}

.promove{
    color: #ffffff;
    text-align: center;
    font-family: LED Dot-Matrix;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    
}
.ic{
    color: #ffffff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
